*.iso
*.ovf
*.ivo
*.zip
*.tar.gz
*.tgz
*.box
*.vdi
*.vmdk
**/packer_cache
.vagrant
packer/base-centos/tmp
packer/base-centos/buildSrc/.gradle
packer/base-centos/.gradle
packer/base-centos/build
packer/base-centos/buildSrc/build
*.iml
packer/declarative-builder/buildSrc/build
javadoc-parsing/out
decompiler/output
jar/output
maven/querytool/local-repo
semantic-web/ontology-browse/owldoc
testing/betamax/bintray/out
lib
